* {
  margin: 0;
}

body {
  background-color: #EED6D3;
  font-family: Arial, Helvetica, sans-serif;
}

.head {
  background-color: #67595E;
  box-shadow: 3px 2.5px gray;
}

#heading {
  font-weight: 300;
  font-size: 3em;
  text-align: center;
  font-style: italic;
  padding-top: 10px;
  padding-bottom: 7px;
  color: snow;
  display: fixed;
}

#imgBlogger {
  border: 0.5mm solid gray;
  height: 1.5cm;
  width: 1cm;
  display: flex;
  float: left;
  margin-left: 10px;
  margin-top: 15px;
  
}

#blogger {
  padding-top: 2rem;
  padding-left: 10px;
  display: flex;
  font-size: 2rem;
  font-weight: 300;
  color: #36454F;
}

#updated {
  margin-right: 10px;
  display: flex;
  float: right;
  color: gray;
}

#title {
  font-weight: 400;
  font-size: 45px;
  margin-top: 10px;
  margin-left: 20px;
  padding: 5px;
  color: #37464F; 
}

.container {
  position: relative;
}

p {                   /*Paragraph of Blogs*/
  margin: 50px;
  margin-top: 15px;
  margin-right: 27em;
  padding: 5px;
  border: 0.5px solid #A49393;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  display: fixed;
  background-color: #E8B4B8;
  color: #2C3539;
  font-size: 1.5em;
  font-weight: 300;
  cursor: text;
}

#reference {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 1em;
  right: 10em;
  opacity: 50;
  font-size: 30px;
}

ul {
  list-style: square 5px;
}

#ref {
  position: absolute;
  top: 3em;
  right: 2em;
  background: #A49393;
  padding: 15px;
  border: 1px solid black;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  font-size: 25px;
  width: 20em;
  opacity: 75;
}

a {
  padding-left: 20px;
  color: mediumblue;
  text-decoration: none;
}

a:hover {
  color: skyblue;
  cursor: pointer;
  text-decoration: underline;
}

footer {
  padding: 15px;
  margin-top: 25px;
  display: flex;
  text-align: left;
  color: darkgrey;
}

/*Image Edit goes here*/
#images {
  margin: 15px;
}